@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&family=Manrope:wght@200;300;400;500;600;700;800&family=Oswald:wght@300;500&family=Source+Sans+Pro:wght@200;300;400;600;700;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: white;
  font-family: "Source Sans Pro", sans-serif;
  background-color: #303030;
  color: white;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.titles {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 10px;
}

.title {
  font-size: 48px;
  text-align: center;
  margin-bottom: 30px;
  color: black;
  font-weight: 700;
  background-color: rgb(194, 194, 194);
  border-radius: 10px;
  padding: 10px 10px;
  user-select: none;
}

.sub-title {
  padding: 40px 70px;
  margin: 30px 30px;
  border-radius: 10px;
  font-size: 24px;
  text-align: center;
  border: 1px solid white;
  background-color: rgb(30, 30, 30);
  justify-content: center;
  text-align: center;
  align-items: center;
}

.container {
  border-radius: 10px;
  padding: 50px 50px;
  width: 500px;
  margin: 0 auto;
  margin-top: 10vh;
}

.app-container {
  display: flex;
  flex-direction: column;
  background-color: rgba(30, 30, 30, 0.9);
  padding: 20px 30px;
  border-radius: 10px;
}

.btn {
  font-size: 24px;
  padding: 10px 0;
  border-radius: 10px;
  background-color: rgb(30, 30, 30);
  color: white;
  border: none;
  cursor: pointer;
  transition: all 0.15s ease-in-out;
}

.btn:hover {
  background: white;
  color: #303030;
}

.warning {
  display: flex;
  justify-content: center;
  text-align: center;
  margin-top: 15px;
  opacity: 0;
  margin-bottom: 10px;
  transition: all 0.15s ease-in-out;
}

.input,
.output {
  font-size: 24px;
  margin: 20px 0;
  border: none;
  outline: none;
  padding: 20px 0;
  border-radius: 10px;
  text-align: center;
  background-color: rgba(30, 30, 30, 0.8);
  color: white;
}

.output {
  height: 0px;
  padding: 0px;
  transition: 0.15s ease-in-out all;
}

.output {
  cursor: pointer;
  user-select: none;
}

hr {
  border-radius: 100%;
  opacity: 0.5;
}

.buttons {
  display: flex;
  height: 30px;
  gap: 10px;
}

.copy-btn,
.reset-btn {
  width: 99%;
  background-color: rgb(30, 30, 30);
  outline: none;
  border: none;
  color: white;
  font-size: 16px;
  transition: 0.15s ease-in-out all;
  font-family: inherit;
  border-radius: 10px;
}

.copy-btn:hover {
  background-color: white;
  color: black;
  cursor: pointer;
}

.reset-btn:hover {
  background-color: white;
  color: black;
  cursor: pointer;
}

footer {
  margin: auto;
}

footer a {
  text-decoration: none;
  color: white;
  font-weight: bold;
}

footer a:hover {
  text-decoration: underline;
}
